/* Reset CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, 
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, 
canvas, details, embed, figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, 
mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline; box-sizing: border-box}


/* Reset pour les vieux navigateurs */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}

::-moz-selection {
    color: #fff; background:#2A2A2A;
}

::selection {
    color: #fff; background:#2A2A2A;
} 

strong {
    font-weight: bold;
}

.font-size-0 {
    font-size: 0;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 10px;
}

h2, h2 a {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    color: #f99c02;
}

h3 {
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
}

p, li {
    margin: 10px 0;
    font-size: 1.3rem;
    line-height: 200%;
}

li {
    list-style-type: disc;
    margin-left: 20px;
}

html {
    font-size: 10px;
    font-family: Metropolis;
}

body {
    background: #F5F5F5;
    padding: 50px;
    color: #292929;
    max-width: 960px;
    margin: auto;
}

input {
    margin: 0 auto 40px;
    display: block;
    padding: 15px 30px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    font-family: Metropolis;
    font-size: 1.4rem;    
}

.error,
.success {
    color: red;
    font-style: italic;
    margin: 20px 0;
    text-align: center
}

.success {
    color: green;
}

.highlightText {
    background: rgba(249, 156, 2, 0.5);
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: #292929;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.loader {
    position:absolute;
    top: 120px;
    left: calc(50% - 20px);
    display:inline-block;
    border: 4px solid #eae7e7;
    border-radius: 50%;
    border-top-color:#f99c02;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 0.8s linear infinite;
    animation: spin 0.8s linear infinite;
    z-index:3;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.show-after-loaded {
    display: none;
}

/* RESULTS PAGE */
.results {
    position: relative;
    padding-bottom: 40px;
}
.result {
    display: inline-block;
    vertical-align: top;
    width: calc(100% / 3 - 20px);
    font-size: 1.4rem;
    background: #fff;
    margin: 10px;
    font-weight: normal;
    text-decoration: none;
}

.result:hover {
    text-decoration: none;
}

.result:hover .product-cover-img {
    transform: scale(1.15);
}

.product-cover {
    height: 17vw;
    overflow: hidden;
}

.product-cover-img {
    display: block;
    background-size: cover;
    transition: all ease 0.5s;
    height: 100%;
}

.results-no-img {
    line-height: 17vw;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid #eae7e7;
}

.description {
    padding: 20px;
    display: block;
}

.product-title {
    display: inline-block;
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.pagination-btn {
    position: absolute;
    bottom: 0;
    border: 1px solid #eae7e7;
    border-radius: 3px;
    padding: 5px 10px;
    background: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: all ease 0.5s;
}

.pagination-btn:hover {
    border-color: #292929;
    background: #292929;
    color: white;
}

.pagination-btn.prev {
    left: 10px;
}

.pagination-btn.next {
    right: 10px;
}


.half-bloc {
    margin-top: 40px;
    width: calc(50% - 20px);
    display: inline-block;
    vertical-align: top;
}

.half-bloc + .half-bloc {
    margin-left: 40px;
}

.swiper-container {
    padding-bottom: 30px;
}

.swiper-slide {
    height: 30vw;
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-pagination {
    bottom: 0 !important;
}

.swiper-buttons {
    filter: brightness(0) invert(1);
    width: 17px;
    height: 27px;
    background-size: 100%;
}

.swiper-pagination-bullet-active {
    background: #f99c02;
}