#app-map {
    position: relative;
}

#app-7 + #app-map {
    margin-top: 60px;
}

#app-map .loader {
    left: 75%;
    top: 50%;
}

.map {
    display: inline-block;
    vertical-align: top;
    width: 400px;
    height: 400px;
    margin: auto;
    margin-bottom: 30px;
}

.results {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 430px);
    margin-left: 30px;
    height: 400px;
    overflow: auto;
}

.results .result {
    width: calc(100% / 2 - 20px);
    cursor: pointer;
    box-shadow: 0 0 10px rgba(200, 200, 200, 0.3);
    transition: all ease 0.3s;
}

.results .result:hover {
    box-shadow: 0 0 10px rgba(180, 180, 180, 0.5);
}