<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rechercher un produit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>

    <div id="app-7">
        <input type="text" id="input" placeholder="Rechercher un produit" v-model="searchValue">
        <select id="" v-model="searchEntity">
            <option value="all">Par nom, thème ou lieu</option>
            <option value="name">Par nom</option>
            <option value="theme">Par theme</option>
            <option value="location">Par Lieu</option>
        </select>
        <ul v-for="product in listresults">
            <li>
                <a v-bind:href="'produit.html?id=' + product.id_produit">
                    <span v-html="highlight(product.nom)"></span> <br>
                    Thème : <span v-html="highlight(product.id_theme)"></span>
                </a>
            </li>
        </ul>
        <div v-if="listresults.length === 0 && searchValue.length > 0">
            <p class="error">Aucun résultat pour la recherche « {{searchValue}} » 
            </p>
        </div>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/vue.js"></script>

    <script>
        var app7 = new Vue({
            el: '#app-7',
            data: {
                searchValue: '',
                searchEntity: 'all',
                listresults: [],
                query: "paris"
            },
            methods: {
                getProductsByName: function (search) {
                    if (search.length > 0) {
                    console.log('//localhost:3000/api/search/products/' + this.searchEntity + '/' + search)
                        
                        $.get('//localhost:3000/api/search/products/' + this.searchEntity + '/' + search, (data) => {
                            this.listresults = data;
                        });
                    } else {
                        this.listresults = [];
                    }
                },
                highlight: function (content) {
                    console.log('hgihtligh', content);
                    if(!this.searchValue) {
                        return content;
                    }
                    return content.replace(new RegExp(this.searchValue, "gi"), match => {
                        return '<span class="highlightText">' + match + '</span>';
                    });
                }
            },
            watch: {
                searchValue: function () {
                    this.getProductsByName(this.searchValue);
                },
                searchEntity: function () {
                    this.getProductsByName(this.searchValue);
                }
            }
        });

        app7.getProductsByName(app7.searchValue);
        $('#input').focus();
    </script>
</body>

</html>