<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rechercher un produit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>

    <div id="app-7">
        <input type="text" id="input" placeholder="Rechercher un produit" v-model="searchValue">
        <select id="" v-model="searchEntity">
            <option value="all">Par nom, thème ou lieu</option>
            <option value="name">Par nom</option>
            <option value="theme">Par theme</option>
            <option value="location">Par Lieu</option>
        </select>
        <div v-if="loading === 1" class="loader"></div>
        <div class="show-after-loaded">
            <div v-if="nbResults === 0 && searchValue.length > 0 && loading === 0">
                <p class="error">
                    Aucun résultat pour la recherche « <strong>{{searchValue}}</strong> » 
                </p>
            </div>
            <div v-else-if="nbResults > 0" class="results">
                <p class="success" v-if="!popular">
                    <strong>{{nbResults}}</strong> résultat<span v-if="nbResults > 1">s</span>
                    pour la recherche « <strong>{{searchValue}}</strong> » 
                </p>

                <p class="success" v-else>Top <strong>9</strong> des produits <strong>les plus visités</strong></p>
    
                <a v-bind:href="'produit.html?id=' + product.id_produit" class="result" v-for="(product, index) in listresults">
                    <div class="product-cover" v-if="(product.image && product.image.length > 0)">
                        <span class="product-cover-img" v-bind:style="{ backgroundImage: 'url(' + product.image + ')' }"></span>
                    </div>
                    <div class="product-cover" v-else>
                        <p class="results-no-img">No image available</p>
                    </div>
                    <span class="description">
                        <span v-html="highlight('#' + (index + 1) + ' ' + product.nom)" class="product-title"></span> <br>
                        Thème : <span v-html="highlight(product.id_theme)"></span>
                    </span>
                </a>
    
                <button class="pagination-btn prev" v-on:click="prevPage" v-if="currentPage > 0">PREV</button>
                <button class="pagination-btn next" v-on:click="nextPage" v-if="((currentPage + 1) * resultsPerPage) < nbResults">NEXT</button>
            </div>
        </div>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/vue.js"></script>

    <script>
        var app7 = new Vue({
            el: '#app-7',
            data: {
                searchValue: getHashSearch(),
                searchEntity: getHashEntity(),
                listresults: [],
                currentPage: 0,
                resultsPerPage: 3 * 3,
                nbResults: 0,
                loading: 1,
                popular: false
            },
            methods: {
                getProductsByName: function (search) {
                    this.loading = 1;

                    if (this.searchEntity !== 'all') {
                        window.location.hash = this.searchEntity + '-' + this.searchValue;
                    } else {
                        window.location.hash = this.searchValue;
                    }

                    if (search.length > 0) {
                        $.get('//localhost:3000/api/search/products/' + this.searchEntity + '/' + search, (data) => {
                            this.loading = 0;
                            this.popular = false;
                            let from = this.currentPage * this.resultsPerPage;
                            let to = (this.currentPage + 1) * this.resultsPerPage;
                            this.listresults = data.slice(from, to);
                            this.nbResults = data.length;
                        });
                    } else {
                        this.listresults = [];
                        
                        $.get('//localhost:3000/api/products/popular', (data) => {
                            this.loading = 0;
                            this.nbResults = 9;
                            this.popular = true;
                            this.listresults = data;
                        });

                        window.location.hash = '';
                    }
                },
                highlight: function (content) {
                    if(!this.searchValue) {
                        return content;
                    }

                    let regex = regexAccent(this.searchValue);
                    
                    return content.replace(new RegExp(regex, "gi"), match => {
                        return '<span class="highlightText">' + match + '</span>';
                    });
                },
                prevPage: function () {
                    this.currentPage --;
                },
                nextPage: function () {
                    this.currentPage ++;
                }
            },
            watch: {
                searchValue: function () {
                    this.currentPage = 0;
                    this.getProductsByName(this.searchValue);
                },
                searchEntity: function () {
                    this.currentPage = 0;
                    this.getProductsByName(this.searchValue);
                },
                currentPage: function () {
                    $('html, body').animate( { scrollTop: 0 }, 500 ); // Go
                    this.getProductsByName(this.searchValue);
                }
            },
            mounted: function () {
                $('.show-after-loaded').fadeIn();
            }
        });

        function regexAccent(regex) {
            regex = regex.replace(new RegExp('[aàáâãäå]', "gi"), '[aàáâãäå]');
            regex = regex.replace(new RegExp('[eèéêë]', "gi"), '[eèéêë]');
            regex = regex.replace(new RegExp('[oòóôõöø]', "gi"), '[oòóôõöø]');
            regex = regex.replace(new RegExp('[cç]', "gi"), '[cç]');
            regex = regex.replace(new RegExp('[iìíîï]', "gi"), '[iìíîï]');
            regex = regex.replace(new RegExp('[uùúûü]', "gi"), '[uùúûü]');
            regex = regex.replace(new RegExp('[nñ]', "gi"), '[nñ]');
            regex = regex.replace(new RegExp('[sš]', "gi"), '[sš]');
            regex = regex.replace(new RegExp('[yÿý]', "gi"), '[yÿý]');
            regex = regex.replace(new RegExp('[zž]', "gi"), '[zž]');
            
            return regex;
        }

        function getHash() {
            return decodeURIComponent(window.location.hash).split('#')[1].split('-');
        }

        function getHashSearch() {
            if (window.location.hash) {
                let hash = getHash();
                if (hash.length === 2) {
                    return hash[1];
                } else {
                    return hash[0];
                }
            } else {
                return '';
            }
        }

        function getHashEntity() {
            if (window.location.hash) {
                let hash = getHash();
                let array = ['all', 'name', 'theme', 'location'];
                if (hash.length === 2 && array.indexOf(hash[0]) !== -1) {
                    return hash[0];
                } else {
                    return 'all';
                }
            } else {
                return 'all';
            }
        }

        app7.getProductsByName(app7.searchValue);
        $('#input').focus();

        // if ("geolocation" in navigator) {
        //     navigator.geolocation.getCurrentPosition(function(position) {
        //         console.log(position, position.coords.latitude, position.coords.longitude);
        //     });
        // } else {
        //     console.log('Geoloc not found');
        // }

        document.addEventListener('keydown', function(event) {
            if (event.keyCode === 27) {
                app7.searchValue = '';
            }
     
            if ((event.ctrlKey || event.metaKey) && event.keyCode === 70) {
                event.preventDefault();
                if ($(window).scrollTop() > 300) {
                    $('html, body').animate( { scrollTop: 0 }, 500 ); // Go
                    setTimeout(function(){
                        $('#input').focus();
                    }, 300);
                } else {
                    $('html, body').animate( { scrollTop: 0 }, 500 ); // Go
                    $('#input').focus();
                }
            }
         });
    </script>
</body>

</html>