<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rechercher une boutique</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/map.css">
</head>

<body>
    <a href="index.html" class="back-home pagination-btn">Retour</a>

    <div id="app-map" class="font-size-0">

        <div v-if="loading === 1" class="loader"></div>
        <header>
            <p class="search-input">{{location}}</p>
        </header>
        <div class="map"></div>

        <!-- TODO : TEMPLATE THIS -->
        <div class="results">
            <a v-bind:href="'boutique-' + boutique.id_boutique + '.html'" class="result" v-for="(boutique, index) in listBoutiques" v-on:mouseenter="hoverBoutique" title="Voir la boutique"
                v-bind:data-id="index" v-bind:data-boutique="boutique.id_boutique">
                <span class="description">
                    <span class="product-title">{{boutique.nom}}</span>
                    <br> Adresse :
                    <span class="more-text">{{boutique.lieu}}</span>
                    <br>
                </span>
            </a>
            <a href="" style="font-size:20px" v-on:click="seeMore">See more</a>
        </div>


    </div>



    <script src="js/jquery.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/map.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaRd_kdSXbVX7ewzWK82F8ujPSf5py2sg&amp;callback=mapp.initMap">
    </script>

    <script>
        function getShopList(event) {
            if (event) {
                event.preventDefault();
            }
            let url = '//localhost:3000/api/shop/near/';
            url += mapp.lat.toFixed(4) + '/' + mapp.lng.toFixed(4) + '/' + mapp.limit;
            $.get(url, (boutiques) => {
                if (boutiques.length > 0) {
                    mapp.limit = mapp.limit + 6;
                    generateMarkers(boutiques);
                }
            });
        }
    </script>
</body>

</html>