<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Détail du produit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/main.css">

</head>

<body>
    <a href="index.html" class="back-home pagination-btn">Retour</a>

    <div id="app-7" class="font-size-0">
        <h1>#{{infosProduct.id_produit}} {{infosProduct.nom}}</h1>
        <h2>Thème | <a v-bind:href="'index.html#theme-' + infosProduct.theme">{{infosProduct.theme}}</a></h2>

        <div class="half-bloc">
            <h3>Description</h3>
            <p>{{infosProduct.description}}</p>

            <p><strong>{{infosProduct.echelle_prix}}</strong></p>

            <p><strong>Code barre :</strong> {{infosProduct.code_barre}}</p>
            <p><strong>Marque :</strong> {{infosProduct.marque}}</p>

            <div v-if="infosProduct.localisation && infosProduct.localisation.length > 0">
                <h3>Catégories</h3>
                <ul>
                    <li v-for="cat in infosProduct.categories">
                        {{ cat.nom }}
                    </li>
                </ul>
            </div>
        </div>


        <div class="half-bloc" v-if="infosProduct.images && infosProduct.images.length > 0">
            <h3>Photos</h3>

            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" v-for="img in infosProduct.images" v-bind:style="{ backgroundImage: 'url(' + img.url + ')' }">
                    </div>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-buttons swiper-button-next"></div>
                <div class="swiper-buttons swiper-button-prev"></div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>

        <div class="half-bloc product-cover" v-else>
            <p class="results-no-img">No image available</p>
        </div>

        <div v-if="infosProduct.localisation && infosProduct.localisation.length > 0">
            <h3>Boutiques</h3>
            <ul>
                <li v-for="lieu in infosProduct.localisation">
                    <a v-bind:href="'boutique.html?id=' + lieu.id_boutique">{{lieu.nom_boutique}} ({{lieu.lieu_boutique}}) : {{lieu.stock}} restants à {{lieu.prix}}</a>
                </li>
            </ul>
        </div>

        

    </div>


    <script src="js/jquery.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/swiper.min.js"></script>

    <script>
        // TODO : remove this test
        navigator.geolocation.getCurrentPosition = function (callback) {
            let position = {};
            position.coords = {};
            position.coords.latitude = 48.8077711;
            position.coords.longitude = 2.3673933;
            callback(position);
        }
        
        var params = {};

        if (location.search) {
            var parts = location.search.substring(1).split('&');

            for (var i = 0; i < parts.length; i++) {
                var nv = parts[i].split('=');
                if (!nv[0]) continue;
                params[nv[0]] = nv[1] || true;
            }
        }

        var app7 = new Vue({
            el: '#app-7',
            data: {
                infosProduct: []
            },
            methods: {
                getProductInfos: function (idProduct) {
                    if (idProduct > 0) {
                        $.get('//localhost:3000/api/product/' + idProduct, (data) => {
                            if (data[0]) {
                                this.infosProduct = data[0];
                                this.getUserLocation();
                            }
                        });
                    }
                },
                getUserLocation: function () {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        app7.lat = position.coords.latitude;
                        app7.lng = position.coords.longitude;

                        // app7.map.panTo({
                        //     lat: app7.lat,
                        //     lng: app7.lng
                        // });

                        // app7.map.addListener('click', function () {
                        //     app7.infowindow.close();
                        // });

                        // app7.getNamePosition(); // TODO : get NAME
                        app7.sortShopList();
                    });
                },
                sortShopList: function () {
                    let locations = app7.infosProduct.localisation;
                    for (let index = 0; index < locations.length; index++) {
                        const location = locations[index];
                        console.log(Math.abs(app7.lat - location.lat) + Math.abs(app7.lng - location.lng));
                    }
                }
            }
        });

        var rand = Math.round(Math.random(10) * 99);

        if (params && params.id) {
            rand = params.id;
        }

        app7.getProductInfos(rand);

        setTimeout(function () {
            var swiper = new Swiper('.swiper-container', {
                pagination: {
                    el: '.swiper-pagination',
                    dynamicBullets: true,
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                loop: true,
                autoplay: true,
                speed: 500
            });
        }, 1000);
    </script>
</body>

</html>