<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Détail du produit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/map.css">

</head>

<body>
    <a href="index.html" class="back-home pagination-btn">Retour</a>

    <div id="app-7" class="font-size-0">
        <h1>#{{infosBoutique.id_boutique}} {{infosBoutique.nom}}</h1>
        <h2>Thèmes
            <span v-for="theme in infosBoutique.themes">
                | <a v-bind:href="'index.html#theme-' + theme">{{theme}}</a>
            </span>
        </h2>


        <iframe width="600" height="450" frameborder="0" style="border:0" v-bind:src="'https://www.google.com/maps/embed/v1/place?key=AIzaSyB4_D-KNKcJlgMwy0TZjkgzLBBz6O3DT5k&q=' + infosBoutique.lieu">
        </iframe>

        <h2>Liste des produits</h2>

        <a v-bind:href="'produit-' + product.id_produit + '.html'" class="result" v-for="(product, index) in infosBoutique.products">
            <div class="product-cover" v-if="(product.images && product.images.length > 0)">
                <span class="product-cover-img" v-bind:style="{ backgroundImage: 'url(' + product.images[0] + ')', opacity: 1 }"></span>
            </div>
            <div class="product-cover" v-else>
                <p class="results-no-img">No image available</p>
            </div>
            <span class="description">
                <span class="product-title">{{product.nom}}</span>
                <br> Thème :
                <span class="more-text">{{product.theme}}</span>
            </span>
        </a>
    </div>




    <script src="js/jquery.min.js"></script>
    <script src="js/vue.js"></script>

    <script>
        var params = {};

        if (location.search) {
            var parts = location.search.substring(1).split('&');

            for (var i = 0; i < parts.length; i++) {
                var nv = parts[i].split('=');
                if (!nv[0]) continue;
                params[nv[0]] = nv[1] || true;
            }
        }

        var app7 = new Vue({
            el: '#app-7',
            data: {
                infosBoutique: []
            },
            methods: {
                getShopInfos: function (idProduct) {
                    if (idProduct > 0) {
                        let url = '//localhost:3000/api/shop/' + idProduct;
                        $.get(url, (data) => {
                            if (data[0]) {

                                console.log(data[0]);

                                this.infosBoutique = data[0];
                                let themes = {};
                                let nbThemes = 0;

                                console.log(this.infosBoutique.products)

                                // Foreach all themes and count occurences
                                for (let index = 0; index < this.infosBoutique.products.length; index++) {
                                    const element = this.infosBoutique.products[index];
                                    if (!themes[element.theme]) {
                                        themes[element.theme] = 0;
                                    }
                                    themes[element.theme] += 1;
                                }
                                
                                // Use the key to get nb values
                                var sorted = Object.keys(themes).sort(function(a, b) {
                                    return themes[b] - themes[a];
                                });
                                
                                // Limit nb results
                                sorted = sorted.splice(0, 3);

                                this.infosBoutique.themes = sorted;

                            } else {
                                $('#app-7').html(
                                    '<p class="error">Cette boutique n\'existe pas.</p>');
                                $('#app-map').remove();
                            }
                        });
                    }
                },
            }
        });

        var idBoutique = null;
        let beginUrl = window.location.href.split('boutique-')[1];

        if (params && params.id) {
            idBoutique = params.id;
        }

        if (beginUrl) {
            if (beginUrl.split('.')[0]) {
                idBoutique = beginUrl.split('.')[0];
            }
        }

        app7.getShopInfos(idBoutique);
    </script>
</body>

</html>