<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Détail du produit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/map.css">
    <link rel="icon" type="image/png" href="favicon.png" />
</head>

<body>
    <a href="index.html" class="back-home pagination-btn">Retour</a>

    <div id="app-shop" class="font-size-0">
        <h1>#{{infosBoutique.id_boutique}} {{infosBoutique.nom}}</h1>
        <h2>Thèmes
            <span v-for="theme in infosBoutique.themes">
                | <a v-bind:href="'index.html#theme-' + theme">{{theme}}</a>
            </span>
        </h2>

        <div class="shop-map">
            <div v-if="loading === 1" class="loader"></div>
            
         

            <div id="map" class="map map-shop"></div>

            <p class="filters"  >
                <input type="radio" id="WALKING" value="WALKING" v-model="travelmode">
                <label for="WALKING" v-bind:class="{active: travelmode === 'WALKING'}">À pied</label>

                <input type="radio" id="DRIVING" value="DRIVING" v-model="travelmode">
                <label for="DRIVING" v-bind:class="{active: travelmode === 'DRIVING'}">En voiture</label>
            </p>

            <p class="duration">Temps estimé : <strong>{{duration}}</strong></p>
        </div>


        <h2 v-if="infosBoutique.products && infosBoutique.products.length > 0">Liste des produits</h2>

        <a v-bind:href="'produit-' + product.id_produit + '.html'" class="result" v-for="(product, index) in infosBoutique.products">
            <div class="product-cover" v-if="(product.images && product.images.length > 0)">
                <span class="product-cover-img" v-bind:style="{ backgroundImage: 'url(' + product.images[0] + ')', opacity: 1 }"></span>
            </div>
            <div class="product-cover" v-else>
                <p class="results-no-img">No image available</p>
            </div>
            <span class="description">
                <span class="product-title">{{product.nom}}</span>
                <br> Thème :
                <span class="more-text">{{product.theme}}</span>
            </span>
        </a>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/main.js"></script>
    <script src="js/map.js"></script>
</body>

</html>