<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rechercher un produit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" type="image/png" href="favicon.png" />
</head>

<body>
    <div id="app-search">
        <header class="font-size-0">
            <h1 class="title">Exotic-API</h1>
            <a href="map.html" class="find-me" title="Géolocalisation">
                <i class="fas fa-crosshairs"></i>
            </a>
            <input type="text" id="input" placeholder="Rechercher un produit" v-model="searchValue" class="search-input search-input-icon">

            <p class="filters" v-if="searchValue.length > 0">
                <input type="checkbox" id="name" value="name" v-model="filters">
                <label for="name" v-bind:class="{ active: isActive('name')}">Nom</label>

                <input type="checkbox" id="location" value="location" v-model="filters">
                <label for="location" v-bind:class="{ active: isActive('location')}">Lieu</label>

                <input type="checkbox" id="theme" value="theme" v-model="filters">
                <label for="theme" v-bind:class="{ active: isActive('theme')}">Thème</label>
            </p>
        </header>
        <div v-if="loading === 1" class="loader"></div>
        <div class="show-after-loaded">
            <div v-if="!popular">
                <h3>Filtrer</h3>
                <select class="themes" v-model="filterTheme" v-on:change="filterChange">
                    <option value="default">Thème</option>
                    <option v-bind:value="theme" 
                    v-for="theme in listresults.all_themes" 
                    v-if="themes.indexOf(theme) === -1">{{theme}}</option>
                </select>

                <select class="categories" v-model="filterCategory" v-on:change="filterChange">
                    <option value="default">Catégorie</option>
                    <option v-bind:value="category" 
                    v-for="category in listresults.all_categories"
                    v-if="categories.indexOf(category) === -1">{{category}}</option>
                </select>

                <p class="filters">
                    <label class="active" v-for="theme in themes" v-on:click="updateFilter('themes', theme)">{{theme}}</label>
                    <label class="active" v-for="category in categories" v-on:click="updateFilter('categories', category)">{{category}}</label>
                </p>
            </div>
            <div v-if="nbResults === 0 && searchValue.length > 0 && loading === 0">
                <p class="error">
                    Aucun résultat pour la recherche «
                    <strong>{{searchValue}}</strong> »
                </p>
            </div>
            <div v-else-if="nbResults > 0">
                <p class="success" v-if="!popular">
                    <strong>{{nbResults}}</strong> résultat<span v-if="nbResults > 1">s</span>
                    pour la recherche «
                    <strong>{{searchValue}}</strong> »
                </p>

                <p class="success" v-else>Top
                    <strong>9</strong> des produits
                    <strong>les plus visités</strong>
                </p>

                <div class="results">
                    <a v-bind:href="'produit-' + product.id_produit + '.html'" class="result" v-for="(product, index) in listresults.products">
                        <div class="product-cover" v-if="(product.images && product.images.length > 0)">
                            <span class="product-cover-img loading" v-bind:data-image="product.images[0]"></span>
                            <div class="loader"></div>
                        </div>
                        <div v-else v-html="notavailable()"></div>
                        <span class="description">
                            <span v-html="highlight('#' + product.id_produit + ' ' + product.nom, 'name')" class="product-title"></span>
                                <br> Prix : 
                                <strong v-if="product.price">
                                    <span v-if="product.price.max > product.price.min">{{product.price.min}}€ - {{product.price.max}}€</span>
                                    <span v-else>{{product.price.min}}€</span>
                                </strong>
                                <span v-else>Indisponnible</span>
                            <br> Thème : <span v-html="highlight(product.theme, 'theme')" class="more-text"></span>
                            <br> <span v-if="product.categories.length > 0">
                                Catégorie<span v-if="product.categories.length > 1">s</span> : <span v-for="(category, index) in product.categories" class="more-text">
                                {{category}}<span v-if="index < (product.categories.length - 1)">,</span>
                                </span>
                            </span>
                        </span>
                    </a>

                    <button class="pagination-btn prev" v-on:click="prevPage" v-if="currentPage > 0">PREV</button>
                    <button class="pagination-btn next" v-on:click="nextPage" v-if="((currentPage + 1) * resultsPerPage) < nbResults">NEXT</button>
                </div>
            </div>
        </div>
    </div>

    <script defer src="https://use.fontawesome.com/releases/v5.0.12/js/all.js" integrity="sha384-Voup2lBiiyZYkRto2XWqbzxHXwzcm4A5RfdfG6466bu5LqjwwrjXCMBQBLMWh7qR"
        crossorigin="anonymous"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/main.js"></script>

    <script>
        document.addEventListener('keydown', function (event) {
            if (event.keyCode === 27) {
                appSearch.searchValue = '';
            }

            if ((event.ctrlKey || event.metaKey) && event.keyCode === 70) {
                event.preventDefault();
                if ($(window).scrollTop() > 300) {
                    $('html, body').animate({
                        scrollTop: 0
                    }, 500); // Go
                    setTimeout(function () {
                        $('#input').focus();
                    }, 300);
                } else {
                    $('html, body').animate({
                        scrollTop: 0
                    }, 500); // Go
                    $('#input').focus();
                }
            }
        });
    </script>

</body>

</html>