<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Détail du produit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/map.css">

</head>

<body>
    <a href="index.html" class="back-home pagination-btn">Retour</a>

    <div id="app-7" class="font-size-0">
        <h1>#{{infosProduct.id_produit}} {{infosProduct.nom}}</h1>
        <h2>Thème |
            <a v-bind:href="'index.html#theme-' + infosProduct.theme">{{infosProduct.theme}}</a>
        </h2>

        <div class="half-bloc">
            <h3>Description</h3>
            <p>{{infosProduct.description}}</p>

            <p>
                <strong>{{infosProduct.echelle_prix}}</strong>
            </p>

            <p>
                <strong>Code barre :</strong> {{infosProduct.code_barre}}</p>
            <p>
                <strong>Marque :</strong> {{infosProduct.marque}}</p>

            <div v-if="infosProduct.categories && infosProduct.categories.length > 0">
                <h3>Catégories</h3>
                <ul>
                    <li v-for="category in infosProduct.categories">
                        {{ category }}
                    </li>
                </ul>
            </div>
        </div>


        <div class="half-bloc" v-if="infosProduct.images && infosProduct.images.length > 0">
            <h3>Photos</h3>

            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" v-for="img in infosProduct.images" v-bind:style="{ backgroundImage: 'url(' + img + ')' }">
                    </div>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-buttons swiper-button-next"></div>
                <div class="swiper-buttons swiper-button-prev"></div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>

        <div class="half-bloc product-cover" v-else>
            <p class="results-no-img">No image available</p>
        </div>
    </div>


    <div id="app-map" class="font-size-0">
        <p v-if="noShop" class="error">Aucune boutique ne vend ce produit pour l'instant</p>
        <div v-else>
            <div v-if="loading === 1" class="loader"></div>
            <header>
                <p class="search-input">{{location}}</p>
            </header>
            <div class="map"></div>

            <!-- TODO : TEMPLATE THIS -->
            <div class="results" v-if="listBoutiques.length > 0">
                <a class="result" 
                    v-for="(boutique, index) in listBoutiques"
                    v-bind:href="'boutique.html?id=' + boutique.id_boutique"
                    v-on:mouseenter="hoverBoutique"
                    title="Voir la boutique"
                    v-bind:data-id="index"
                    v-bind:data-boutique="boutique.id_boutique">

                    <span class="description">
                        <span class="product-title">{{boutique.nom}}</span>
                        <br> Adresse :
                        <span class="more-text">{{boutique.lieu}}</span>
                        <br>
                    </span>
                </a>
            </div>
        </div>
    </div>

    </script>
    <script src="js/jquery.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/map.js"></script>
    <script src="js/swiper.min.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaRd_kdSXbVX7ewzWK82F8ujPSf5py2sg&amp;callback=generateMap"></script>

    <script>
        var params = {};

        if (location.search) {
            var parts = location.search.substring(1).split('&');

            for (var i = 0; i < parts.length; i++) {
                var nv = parts[i].split('=');
                if (!nv[0]) continue;
                params[nv[0]] = nv[1] || true;
            }
        }

        var app7 = new Vue({
            el: '#app-7',
            data: {
                infosProduct: [],
                listBoutiques: [],
                markers: [],
                autoCenterMap: true
            },
            methods: {
                getProductInfos: function () {
                    if (this.idProduct > 0) {
                        console.log('//localhost:3000/api/product/' + this.idProduct);
                        $.get('//localhost:3000/api/product/' + this.idProduct, (data) => {
                            if (data.nb_results > 0) {
                                this.infosProduct = data.products[0];
                            } else {
                                $('#app-7').html('<p class="error">Ce produit n\'existe pas.</p>');
                                $('#app-map').remove();
                            }
                        });
                    }
                }
            }
        });

        function getShopList () {
            let url = '//localhost:3000/api/product/shop/';
            url += + mapp.lat + '/' + mapp.lng + '/' + app7.idProduct;
            $.get(url,
                function (data) {
                    if (data.length > 0) {
                        generateMarkers(data, true);
                        mapp.map.panTo({
                            lat: data[0].lat,
                            lng: data[0].lng
                        });
                    } else {
                        mapp.noShop = true;
                    }
                });
        }

        var idProduct = null;
        let beginUrl = window.location.href.split('produit-')[1];

        if (params && params.id) {
            idProduct = params.id;
        }

        if (beginUrl) {
            if (beginUrl.split('.')[0]) {
                idProduct = beginUrl.split('.')[0];
            }
        }

       
        app7.idProduct = idProduct;
        app7.getProductInfos();

        setTimeout(function () {
            var swiper = new Swiper('.swiper-container', {
                pagination: {
                    el: '.swiper-pagination',
                    dynamicBullets: true,
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                loop: true,
                autoplay: true,
                speed: 500
            });
        }, 1000);
    </script>
</body>

</html>