<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Détail du produit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/map.css">
    <link rel="icon" type="image/png" href="favicon.png" />
</head>

<body>
    <a href="index.html" class="back-home pagination-btn">Retour</a>

    <div id="app-product" class="font-size-0">
        <h1>#{{infosProduct.id_produit}} {{infosProduct.nom}}</h1>
        <h2>Thème |
            <a v-bind:href="'index.html#theme-' + infosProduct.theme">{{infosProduct.theme}}</a>
        </h2>

        <div class="half-bloc">
            <h3>Description</h3>
            <p>{{infosProduct.description}}</p>

            <p>
                <strong>{{infosProduct.echelle_prix}}</strong>
            </p>

            <p>
                <strong>Code barre :</strong> {{infosProduct.code_barre}}</p>
            <p>
                <strong>Marque :</strong> {{infosProduct.marque}}</p>

            <div v-if="infosProduct.categories && infosProduct.categories.length > 0">
                <h3>Catégories</h3>
                <ul>
                    <li v-for="category in infosProduct.categories">
                        {{ category }}
                    </li>
                </ul>
            </div>
        </div>


        <div class="half-bloc" v-if="infosProduct.images && infosProduct.images.length > 0">
            <h3>Photos</h3>

            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" v-for="img in infosProduct.images" v-bind:style="{ backgroundImage: 'url(' + img + ')' }">
                    </div>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-buttons swiper-button-next"></div>
                <div class="swiper-buttons swiper-button-prev"></div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>

        <div class="half-bloc product-cover" v-else>
            <p class="results-no-img">No image available</p>
        </div>
    </div>


    <div id="app-map" class="font-size-0">
        <p v-if="noShop" class="error">Aucune boutique ne vend ce produit pour l'instant</p>
        <div v-else>
            <div v-if="loading === 1" class="loader"></div>
            <header>
                <h3 class="located">{{location}}</h3>
            </header>
            <div class="map"></div>

            <!-- TODO : TEMPLATE THIS -->
            <div class="results" v-if="listBoutiques.length > 0">
                <a class="result" 
                    v-for="(boutique, index) in listBoutiques"
                    v-bind:href="'boutique-' + boutique.id_boutique + '.html'"
                    v-on:mouseenter="hoverBoutique"
                    title="Voir la boutique"
                    v-bind:data-id="index"
                    v-bind:data-boutique="boutique.id_boutique">

                    <span class="description">
                        <span class="product-title">{{boutique.nom}}</span>
                        <br> Adresse :
                        <span class="more-text">{{boutique.lieu}}</span>
                        <br>
                    </span>
                </a>
            </div>
        </div>
    </div>

    </script>
    <script src="js/jquery.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/main.js"></script>
    <script src="js/map.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaRd_kdSXbVX7ewzWK82F8ujPSf5py2sg&amp;callback=generateMap"></script>

    <script>
        function getShopList () {
            var url = domain + '/api/product/shop?lat=';
            url += + mapp.lat + '&lng=' + mapp.lng + '&idProduct=' + productApp.idProduct;
            $.get(url + token, function (data) {
                console.log(url);
                if (data.length > 0) {
                    generateMarkers(data, true);
                    mapp.map.panTo({
                        lat: data[0].lat,
                        lng: data[0].lng
                    });
                } else {
                    mapp.noShop = true;
                }
            });
        }
    </script>
</body>

</html>